<p id="notice">
  <%= flash[:notice] %>
</p>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!-- ユーザーの詳細 -->
      <%= render 'user_book', user: @user, book: @new_book %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2 class="mt-3">Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= image_tag @book.user.get_profile_image(100,100) %>
              <br><%= link_to @user.name, user_path(@user.id) %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-success" %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
                <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？",  class:"btn btn-danger" %>
              <% end %>
            </td>
            <td>
              <% if @book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :delete do %>
                    <i class="fas fa-heart"></i><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(@book), method: :post do %>
                    <i class="fas fa-heart"></i><%= @book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td>
              <p>コメント数: <%= @book.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div>
        <% @book.book_comments.each do |book_comment| %>
          <p><%= image_tag book_comment.user.get_profile_image(100,100) %></p>
          <%= book_comment.user.name %>
          <p><%= book_comment.comment %></p>
          <% if book_comment.user == current_user %>
            <%= link_to "Delete", book_book_comment_path(book_comment.book, book_comment), method: :delete,  class:"btn btn-danger" %>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, row: '5' %>
          <%= f.submit "送信" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
